<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}ToDo List{% endblock %}</title>
</head>
<body>
    <header>
        <h1>ToDo List Application</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('todo_routes.index') }}">Home</a></li>
                <li><a href="{{ url_for('todo_routes.add_todo') }}">Add Todo</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 ToDoListFlask. All rights reserved.</p>
    </footer>
</body>
</html>